<<<<<<< HEAD
body{
    background-color: #f8f4c2;
}
/* Ajustados los media query a versión teléfono. La idea es que haya dos avatares por fila. */
=======
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}
>>>>>>> bcc56a8cdbfb9bcd05f6f91b72d985744582e0aa
