body{
    background-color: #f8f4c2;
}
/* Ajustados los media query a versión teléfono. La idea es que haya dos avatares por fila. */

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px dashed #000;
border-radius: 10%;}

#avatares{
    margin:2rem auto;
   
    
}

#avatares img{
    width: 100%;
}

@media (max-width: 998px) {
  #avatares img{
    width: 70%;
    }
  }
@media (max-width: 576px) {
  #avatares img{
    width: 60%;
    }
  }
  .alinear-centro{
     justify-content: center;
     text-align: center;
  }
  #avatar1, #avatar2, #avatar3, #avatar4, #avatar5, #avatar6 {
    width: 100%
  }