body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Quicksand', sans-serif;
}
header {
    overflow: hidden;
    border-bottom:  3px solid #f8f4a6;
    padding-bottom: 1%;
    background-color: #a7e2e3 ;
}

/* Intento colocar los blockes dentro de la pagina */

header div {
    float: left;
    display: inline-block;
    margin-top: 8px;
}

.logoescrito {
    width: 20%;
    margin-left:2%;
    color: #19535f;
}

.imgsearchbar, .wrap, .login{
    float:left;
    display: inline-block;
}

.imgsearchbar {
  width: 15%;
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
}

.wrap {
    width: 40%;
}

/* Style the search box inside the navigation bar */

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #f8f4a6;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #f8f4a6;
  background: #f8f4a6;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}


/* Estilo del login */

.login {
    width: 10%
    text-align:right;
}

.login a {
    text-decoration: none;
    color: red;
}


