body{
    font-family: 'Indie Flower', cursive;
    font-family: 'Quicksand', sans-serif;
}
header {
    overflow: hidden;
    border-bottom:  3px solid #f8f4a6;
    padding-bottom: 1%;
    background-color: #a7e2e3 ;
}

/* Intento colocar los blockes dentro de la pagina */

header div {
    float: left;
    display: inline-block;
    margin-top: 8px;
}


.logoescrito {
    width: 20%;
    margin-left:2%;
    color: #19535f;
}

/* Style the search box inside the navigation bar */

.searchbar {
    width: 60%;
    text-align: left;
    position: relative;
    overflow: hidden
}

.imgsearchbar, .search, .buttonsearch {
    float:left;
    display: inline-block;
}

.imgsearchbar {
  width: 4%;
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
  position: static;
}

.search {
  width: 70%;
  display: inline-block;
  position:relative;
}

.searchterm {
  float: left;
  width: 95%;
  border: 3px solid #f8f4a6;
  padding: 5px;
  height: 40%;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.buttonsearchbar {
    float:left;
    display: inline-block;
    background: #f8f4a6;
}

.searchbutton {
    width: 10%;
    height:30px;
    background: #f8f4a6;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilo del login */

.login {
    width: 20%
    text-align:right;
}

.login a {
    text-decoration: none;
    color: red;
}

/*/* Antiguo formato del search button


.searchbutton {
  right: 250px;
  width: 40px;
  height: 36px;
  border: 1px solid #f8f4a6;
  background: yellow;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
}

.searchterm:focus{
  color: #a7e2e3;
}

/*Resize the wrap to see the search bar change!*/
/* /.searchbar{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

