
/* body{
  margin: 0;
} */

* {box-sizing: border-box;}

body{
  margin: 0;
}

#header{
  background: #cbe5b0;
  padding: 15px 0px;
}

#header{
  overflow: hidden;
  text-align: center;
}

#header div {
  display: inline-block;
}

#header a {
  text-decoration: none;
}

#header .login{
  float: right;
}

#header .logo{
  float: left;
}

.container{
  width: 80%;
  margin: auto;
}

::placeholder {
  text-align: center;
}
