  <header>
    <div class="container2">
      <div class="row">
        <div class="header_logo col-10 col-md-3">
         <a routerLink=''><img src="assets/img/logo.png" alt="logo_banatube"></a>
        </div>
        <div class="boton-centro d-md-none d-lg-none header_logo col-2 col-md-3">
          <span id="burger" onclick="openNav()">&#9776;</span>
        </div>
        <div class="header_search1 col-md-6">
          <div class="row">
            <div class="header_search col-md-11">
              <form action="">
                <div class="input-group">
                  <img class="imageni" src="assets/img/bananaSearch.png" alt="Banana buscadora">
                  <label for="search"></label>
                  <input type="text" class="header_input form-control" id="search" placeholder="Buscar">
                  <div class="input-group-prepend">
                    <button type="submit" class="header_boton input-group-text">Buscar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="boton-centro d-none d-md-block d-lg-none header_logo text-right col-2 col-md-3">
          <span id="burger" onclick="openNav()">&#9776;</span>
        </div>
        <div class="d-none d-lg-block header_login col-md-3" id="logenter">
         <a routerLink="/login">Entrar a mi espacio</a>
        </div>
      <div class="header_searchmobile col-12 d-md-none">
          <div class="row sticky-top ">
            <div class="header_search col-md-11">
              <form action="">
                <div class="input-group">
                  <img class="imageni" src="assets/img/bananaSearch.png" alt="Banana buscadora">
                  <label for="search"></label>
                  <input type="text" class="header_input form-control" id="search" placeholder="Buscar">
                  <div class="input-group-prepend">
                    <button type="submit" class="header_boton input-group-text">Buscar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <section id="cuerpo">
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="#">Entrar a mi espacio</a>
        <a href="#">Temática</a>
        <a href="#">Franjas de edad</a>
        <a href="#">Ultimos vídeos</a>
        <a href="#">Más populares</a>
        <a routerLink='/editprofile'>Ajustes</a>

      </div>
    </div>
