   <section id="cuerpo">
    <div class="d-md-block container2">
      <div class="row">
        <div class="col-md-3 col-lg-2 d-none d-lg-block">

          <h6 class="subheader1">
            <i class="fa fa-home" aria-hidden="true"></i>
            Inicio
          </h6>
          <div id="accordion">

            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Temática
                </a>
              </div>
              <div id="collapseOne" class="collapse">
                <div class="card-body">
                  <ul class="body_ul">
                    <li>
                      <a href="">Educativos</a>
                    </li>
                    <li>
                      <a href="">Series</a>
                    </li>
                    <li>
                      <a href="">Peliculas</a>
                    </li>
                    <li>
                      <a href="">Idiomas</a>
                    </li>
                    <li>
                      <a href="">Canciones</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Franjas de edad
                </a>
              </div>
              <div id="collapseTwo" class="collapse">
                <div class="card-body">
                  <ul class="body_ul">
                    <li>
                      <a href="">0-3 Años</a>
                    </li>
                    <li>
                      <a href="">3-6 Años</a>
                    </li>
                    <li>
                      <a href="">6-12 Años</a>
                    </li>
                    <li>
                      <a href="">12-15 Años</a>
                    </li>
                    <li>
                      <a href="">15-18 Años</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Más populares
                </a>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Ultimos videos
                </a>
              </div>
            </div>
            <h6 class="subheader2">
              <i class="fa fa-cog" aria-hidden="true"></i>
                <a routerLink='/editprofile'> Ajustes </a>
            </h6>

          </div>

        </div>
        <div class="fondoweb offset-xl-1 col-lg-10 col-xl-9">
          <div class="main_ row">
            <div class="col-12">
              <h4>Más populares</h4>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="preview  embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <a class="h6" routerLink='/video'><strong class="preview">FC Barcelona vs Real Madrid 5-0 Full Match 2010-11 HD 720p (English Commentary)</strong></a>
                <p class="lead">ElviraRub</p>
                <footer class="lead">32.123 visitas</footer>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4 d-lg-block d-xl-none">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>

          </div>
          <div class="main_ row">
            <div class="col-12">
              <h4>Últimos vídeos</h4>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>
            <div class="col-md-6 col-xl-4 d-lg-block d-xl-none">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
              </div>
              <blockquote class="blockquote">
                <p class="h6"><strong>Descripcion video</strong></p>
                <p class="lead">Username</p>
                <footer class="lead">3.123 visitas</footer>
              </blockquote>
            </div>

          </div>
        </div>
        </div></div>
</section>
<br>
<app-footer></app-footer>
<!--scripts-->         