footer{
    text-align: center;
    box-sizing: border-box;
    background: #454851;
    height: 50px;
    position: static;
}
.contacto{
    padding-top: 15px;
}
footer a{
    text-decoration: none;
    color:white;
    font-family: 'Quicksand', sans-serif;
}
footer a:hover{
    color: #f8f4a6;
}

