<br>
    <br>
    <br>
    <div *ngIf="!logged" class="container">
      <div class="row alinear-centro login">
      <form class="needs-validation col-lg-8 " novalidate id="login" action="#" method="post" role="form"> <!-- añadido el role form --> <!--TODO: action -->
        <div class="">
        <h2 class="text-center">Entrar en mi espacio</h2>
        </div>
        <br>
        <!--email-->
        <div class="input-group">
          <label for="email"></label>
          <span class="input-group-text input-group-prepend col-xl-6 col-lg-6 col-md-6 col-sm-6">Email <br><i class="fa fa-envelope" aria-hidden="true"></i></span>
          <input class="form-control col-xl-6 col-lg-6 col-md-6 col-sm-6" id="email" type="email" name="email" placeholder="Email" required value="">
          <div class="valid-feedback">
              <i class="fa fa-check" aria-hidden="true"></i>
              ¡Perfecto!
          </div>
          <div class="invalid-feedback">
              <i class="fa fa-times" aria-hidden="true"></i>
              Comprueba tu email.
          </div>
        </div>
        
        <!--contraseña-->
        <div class="input-group"> 
          <span class="input-group-text input-group-prepend col-xl-6 col-lg-6 col-md-6 col-sm-6">Contraseña <br><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
          <input class="form-control col-xl-6 col-lg-6 col-md-6 col-sm-6" type="password" name="password" placeholder="Contraseña" required value="">
          <div class="valid-feedback">
              <i class="fa fa-check" aria-hidden="true"></i>
              ¡Perfecto!
          </div>
          <div class="invalid-feedback">
              <i class="fa fa-times" aria-hidden="true"></i> 
              Comprueba tu contraseña.
          </div>
        </div>
        <br>
        <!--botones-->
          <div class="input-group centrar">
             <button type="submit" class="btn btn-info" name="button" value="Entrar" role="button" (click)="loguear()">Entrar</button>
          </div>
        <br>
          <div class="input-group centrar">        
             <button type="button" class="btn" name="button" role="button"><a routerLink="/register">No estoy registrado</a></button>
          </div>
      </form>
    </div>
  </div>
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>